<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <!--  <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=2.0,initial-scale=1.0,user-scalable=yes">-->
  <!--  <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,initial-scale=1.0">-->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>首页</title>
  <link rel="stylesheet" type="text/css" th:href="@{/blog/h5PageCss/index.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/blog/h5PageCss/menu.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/blog/h5PageCss/base.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/blog/h5PageCss/detail.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/blog/h5PageCss/view.css}"/>
</head>
<body style="padding-top: 43px;">
<div id="docpage" class="player-wrap">
  <!-- 头部 -->
  <div class="m-header-top m-header-top-end">
    <header>
      <div class="header-toolbar-left">
        <div class="header-back">
          <a class="ico_btn_back" href="javascript:void(0);"></a>
        </div>
      </div>
      <span class="header-toolbar-title" th:text="${article.title}"></span>
      <div class="header-toolbar-right">
        <!-- 普通搜索 -->
        <div class="toolbar_search"><span class="ico_btn_blue_search"></span></div>
        <!-- 漫画订阅 -->
        <!-- 小说历史 -->
        <!-- 漫画搜索 -->
        <!-- 医疗 -->
        <!-- 小说搜索-->
        <div class="toolbar_more"><span class="ico_more_btn"></span></div>
      </div>
    </header>
    <div class="header_nav_list headerBg" style="height: 0px;">
      <ul class="header_nav_list_ul">
        <li><a href="###" title="首页">首页</a></li>
        <li><a href="###" title="分类">分类</a></li>
        <li><a href="###" title="专题">专题</a></li>
        <li><a href="###" title="Plus会员">Plus会员</a></li>
        <li><a href="###" title="我的" class="info-my">我的</a></li>
        <li><a href="###" title="建筑">建筑</a></li>
        <li><a href="###" title="考研">考研</a></li>
        <li><a href="###" title="在家学" class="hot">在家学</a></li>
        <li><a href="###" title="课堂">课堂</a></li>
        <li><a href="###" title="充值">充值</a></li>
        <li><a href="###" title="医疗">医疗</a></li>
        <li><a href="###" title="小说">小说</a></li>
        <li><a href="###" title="微案例">微案例</a></li>
        <li><a href="###" title="日报">日报</a></li>
        <li><a href="###" title="下载App">下载App</a></li>
        <li><a href="###" title="漫画">漫画</a></li>
        <li><a href="###" title="订阅">订阅</a></li>
      </ul>
    </div>
  </div>
  <!-- 工具栏 -->
  <div id="func-bar-ft" class="func-bar-ft">
    <div class="func-bar-bd">
      <div class="func-item func0">
        <a href="javascript:void(0);" class="doc-func doc-qq">客服</a>
      </div>
      <div class="func-item func1"><span id="doc-share" class="doc-func doc-share-ft">分享</span></div>
      <div id="224755827" class="func-item func2"><span id="justFor" class="doc-func doc-collect on">收藏</span></div>
      <div class="func-item func3"><span class="doc-func doc-download">立即下载</span></div>
    </div>
  </div>
  <!-- 文档头部 -->
  <div class="docInfoMod">
    <h1><span class="ico_you" th:title="${article.title}"></span>
      <text th:text="${article.title}"></text>
    </h1>
  </div>
  <div class="docInfoMod1">
    <div class="inner doc-mark">
      <h1 th:text="${article.description}"></h1>
      <!--      <em class="pdf"></em>-->
      <div class="detail ">
        <p>
          <span class="size">2.61M,&nbsp;<text th:text="${total}"></text>页,<text th:text="${article.hit}"></text>次阅读</span>
          <a class="detail_download" data-handel="download" href="javascript:void(0);">[立即下载]</a>
        </p>
        <p>
          <span class="report" id="jOpenReport"><i class="ico_report"></i>举报</span>
          <span class="time">分享于<text th:text="${article.publishTime}"></text></span>
        </p>
      </div>
    </div>
  </div>
  <!-- 文档主要内容 -->
  <div id="docContent">
    <div class="panel pagemodel" th:each="item,temp:${articleDetail}" th:data-page="${item.curRecords}">
      <div id="page1">
        <img th:src="${item.url}" data-imgid="1"
             style="transform: scale(1);" class="pdfImg"></div>
      <div class="pageNum">
        <text th:text="${item.curRecords+1}"></text>
        /
        <text th:text="${item.totalRecords}"></text>
        页
      </div>
    </div>
  </div>
  <!-- 已阅读文档尾部 -->
  <div id="j_isend" class="no_more_mod" style="display: block;">
    <div class="no_more_inner">
      <div class="no_more_tips">
        <p style="margin-bottom:28px;">君，已阅读到文档结尾了~</p>
        <div class="freeDown">
          <div class="free_down_fun">
            <a class="free_down_btns" href="javascript:void(0);">立即下载</a>
            <a class="free_down_btns nextDoc" href="javascript:void(0);">换一篇</a>
          </div>
          <!--          <span class="ico_button btnc_light_blue openInApp">从APP打开该文档，阅读高清版</span>-->
        </div>
      </div>
    </div>
  </div>
  <!-- 相关精品文档 -->
  <!--  <div class="relateDoc" id="relateDoc" style="display: block;">-->
  <!--    <div id="moreList" class="booklist  doc-mark">-->
  <!--      <p class="bookRelative">相关精品文档</p>-->
  <!--      <a href="###" target="_self">-->
  <!--        <dl>-->
  <!--          <dd class="bookTitle"><em title="topic" class="topic"></em>职业健康安全管理制度</dd>-->
  <!--          <dd><span class="icon_zt">专题</span></dd>-->
  <!--        </dl>-->
  <!--      </a>-->
  <!--      <a href="###" target="_self">-->
  <!--        <dl>-->
  <!--          <dd class="bookTitle"><em class="doc" title="doc">doc</em><span class="ico_you" title="网友选出的优质文档"></span>职业病防治法试题</dd>-->
  <!--          <dd>热度:<span class="bookhotOut hot5"></span></dd>-->
  <!--        </dl>-->
  <!--      </a>-->
  <!--    </div>-->
  <!--  </div>-->
  <!-- 返回顶部 -->
  <div onclick="goBackTop();" class="goBackTop"><span></span></div>
</div>

<script th:src="@{/blog/avatar/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/blog/h5PageJs/common.js}"></script>
<script>
  hideURLbar(); //隐藏地址栏
  goBackTop(); //返回顶部
  //说明：付费阅读的参数配置
  var rechargeConfig = {
    pid: '224755827',//文档id
    recordPage: 0,//记住当前页
    pageCount: 17,//总页数
    previewPage: 17,
  };
  //说明：暂时引用豆丁服务器的资源
  var viewConfig = {
    pageCount: 17, //总页数
    perNum: 5, //一次加载页数
    productId: 224755827,
    secretId: "z079QEKgodfJb88gJBlQaKpgA9Z5X3NNLGhib2o5OhrgWAjQOlRA7Aqe7-e0GW*t",
    loadUrl: false == true ? 'https://docimg2.docin.com/docinpic.jsp?' : 'https://docimg1.docin.com/docinpic.jsp?',
    previewPage: 17,
  };

  function CutPicView() {
    if (arguments.length > 0) {
      var config = arguments[0];
      for (var p in config) {
        this[p] = config[p];
      }
    }
    //this.curPageno = 1;
    this.originalWidth = 1000; //原始图片宽度
    this.originalHeight = 0; //原始图片高度
    this.originalScale = 1; //原始图片宽高比
    this.iScale = 0; //图片放大尺寸
    this.tempScale = 0; //临时裁切比，作比较用
    this.arrPicData = [];
    this.initGap = 150; //默认阙值
    this.padd = 10; //左右边距
    this.paddH = 15; //上下边距
    this.clientWidth = document.documentElement.clientWidth - this.padd * 2; //可视区宽度
    this.clientHeight = document.documentElement.clientHeight; //可视区高度
    this.cont = jQuery('#docContent');
    this.curSectionIndex = 1;
    this.curLoadPage = 0;
    this.realPageCount = this.previewPage == 0 ? this.pageCount : this.previewPage;
    this.sectionNum = Math.ceil(this.realPageCount / this.perNum);
    this.errorDeal = 0;
    var tempNum = this.realPageCount % this.perNum;
    if (tempNum == 0) {
      this.lastSectionPageNum = this.perNum;
    } else {
      this.lastSectionPageNum = tempNum;
    }
    this.productId = viewConfig.productId;
    this.curXmlHttp = null;
    this.init();
  }

  CutPicView.prototype = {
    init: function () {
      var _this = this;
      jQuery(document.body, "#docContent", "#docContent img").css({
        "userSelect": "none",
        "contentZooming": "none",
        "userDrag": "none"
      }); //禁止复制
      document.body.onselectstart = function () {
        return false;
      };
      if (_this.cont.length == 0) {
        return;
      }
      if (typeof (pageRecord) != "undefined" && pageRecord != 0) {
        _this.curSectionIndex = Math.ceil(pageRecord / _this.perNum);
        _this.curLoadPage = (_this.curSectionIndex - 1) * _this.perNum;
      }
      // _this.createPage();
    },
    createPage: function () {
      var _this = this;
      if (_this.curSectionIndex > this.sectionNum || _this.curSectionIndex < 1) {
        return false;
      }
      jQuery(".waitingShow").remove();
      if (_this.sectionNum == 1 && _this.realPageCount <= _this.perNum) {
        var createNum = _this.realPageCount;
      } else {
        var createNum = _this.curSectionIndex < this.sectionNum ? _this.perNum : _this.lastSectionPageNum;
      }
      for (var i = 1; i <= createNum; i++) {
        var pg = (_this.curSectionIndex - 1) * _this.perNum + i;
        if (_this.curSectionIndex == _this.sectionNum && i == createNum) {
          if (_this.previewPage != 0) {
            var lastTxt = "";
          } else {
            var lastTxt = "全文完";
          }

        } else {
          var lastTxt = "";
        }
        var oPageDiv = jQuery('<div class="panel pagemodel" data-page="' + pg + '"><div id="page' + pg +
            '"><div class="loading">载入中...<i style="display:none;height:22px;line-height:22px;width:68px;border:1px solid #cecece;border-radius: 3px;font-size: 12px;font-style: normal;text-align: center;color: #888;position: absolute;left: 0;right: 0;top: 60px;bottom: 0;margin: auto;" id="reload_'
            +
            pg + '" data-reloadpage="' + pg + '">手动刷新</i></div></div><div class="pageNum">' + pg + '/' + _this.pageCount +
            '页' + lastTxt + '</div></div>').appendTo(_this.cont);
      }
      _this.loadNext();
      _this.openFlodPage();

    },
    tabNextBtn: function () {
      var _this = this;
      _this.curSectionIndex++;
      _this.createPage();
    },
    ctrolTabBtn: function () {
      var _this = this;
      if (typeof (pageRecord) != "undefined" && pageRecord > 1) {
        jQuery(".convertTips,.docInfoMod, .docInfoMod1").hide();
        jQuery(
            '<div id="refreshPage" class="foldpagewg-root2 foldpagewg-top-up"><div class="foldpagewg-text">点击加载更多</div><div class="foldpagewg-icon"></div></div>'
        ).prependTo(jQuery("#docContent"));
        jQuery("#refreshPage").click(function () {
          pageRecord = 0;
          _this.curLoadPage = 0;
          _this.curSectionIndex = 1;
          jQuery("#docContent").html("");
          _this.createPage1();
          jQuery(".convertTips,.docInfoMod, .docInfoMod1").show();

        });
      }
      if (_this.sectionNum == 1) {
        jQuery("#j_isend").show();
      } else if (_this.curSectionIndex == _this.sectionNum) { //到达尾页
        jQuery("#j_isend").show();
      } else if (_this.curSectionIndex == 1) {
        jQuery("#j_isend").hide();
      } else {
        jQuery("#j_isend").hide();
      }
    },
    gotoSection: function (sectionIndex) {
      var _this = this;
      _this.curSectionIndex = sectionIndex;
      _this.createPage();
    },
    loadNext: function () {
      var _this = this;
      _this.curLoadPage++;
      if (jQuery("#page" + _this.curLoadPage).length > 0) {
        _this.getImageBlob(_this.curLoadPage);
      }
      if (_this.curLoadPage > _this.curSectionIndex * _this.perNum) {
        _this.curLoadPage = _this.curSectionIndex * _this.perNum;
        //alert("我这5页加载完了");
        _this.foldPage();
      } else if (_this.curLoadPage <= _this.curSectionIndex * _this.perNum) {
        _this.removeFlodPage();
      }
    },
    getImageBlob: function (pageno) {
      var _this = this;
      _this.curXmlHttp = new XMLHttpRequest();
      var blobUrl = _this.loadUrl + 'file=' + _this.productId + '&width=1000&sid=' + _this.secretId + '&pageno=' +
          pageno;
      _this.curXmlHttp.open("GET", blobUrl, true);
      _this.curXmlHttp.responseType = "blob";
      _this.curXmlHttp.onload = function () {
        if (this.status == 200) {
          var blob = this.response;
          console.log(blob);
          var reader = new FileReader();
          reader.onloadend = function (event) {
            var content = reader.result; //内容就在这里
            _this.sliceBlob(pageno, content, blob);
            reader = null;
            _this.loadNext();
          };
          reader.onabort = function (event) {
            jQuery('i[id^="reload_' + pageno + '"]').show();
            jQuery('i[id^="reload_"]').unbind("click");
            jQuery('i[id^="reload_"]').bind("click", function (event) {
              var iPageno = jQuery(this).data("reloadpage");
              _this.getImageBlob(iPageno);
              inpmv(6519)
              inpmvdup(6520, rechargeConfig.pid);
              event.stopPropagation();
            });
          };
          reader.onerror = function (event) {
            jQuery('i[id^="reload_' + pageno + '"]').show();
            jQuery('i[id^="reload_"]').unbind("click");
            jQuery('i[id^="reload_"]').bind("click", function (event) {
              var iPageno = jQuery(this).data("reloadpage");
              _this.getImageBlob(iPageno);
              inpmv(6519)
              inpmvdup(6520, rechargeConfig.pid);
              event.stopPropagation();
            });
          };
          reader.readAsText(blob);
          // onabort 中断时触发
          // onerror 出错时触发
          // onload 文件读取成功完成时触发
          // onloadend 读取完成触发，无论成功或失败
          // onloadstart 读取开始时触发
          // onprogress 读取中

        }
      }
      _this.curXmlHttp.send();
    },
    sliceBlob: function (pageno, data, blob) {
      var _this = this;
      var iIndex = data.indexOf("&&&PIC");
      var dataStr = data.slice(iIndex + 6);
      _this.getCutScaleInfo(pageno, dataStr);
      var myScale = _this.iScale;
      var img = document.createElement("img");
      img.onload = function (e) {
        window.URL.revokeObjectURL(img.src);
      };
      img.src = window.URL.createObjectURL(blob);
      jQuery(img).css({
        "transform": 'scale(' + myScale + ')'
      });
      jQuery("#page" + pageno).html("");
      jQuery(img).appendTo(jQuery("#page" + pageno));
      jQuery(img).attr("data-imgid", pageno);
      _this.setPageWarpHeight(pageno);
    },
    getCutScaleInfo: function (pageno, picData) {
      var _this = this;
      var curPicInfo = _this.splitNum(picData, 5); //124,107,66,47,1000,706
      var curPic = {};
      curPic.iLeft = curPicInfo[0],
          curPic.iRight = curPicInfo[1],
          curPic.iTop = curPicInfo[2],
          curPic.iBottom = curPicInfo[3],
          curPic.picWidth = _this.originalWidth = curPicInfo[4],
          curPic.picHeight = _this.originalHeight = curPicInfo[5];
      curPic.originScale = curPic.picWidth / curPic.picHeight;
      _this.arrPicData[pageno - 1] = curPic;
      var minX = curPic.iLeft - curPic.iRight > 0 ? curPic.iRight : curPic.iLeft;
      var minY = curPic.iTop - curPic.iBottom > 0 ? curPic.iBottom : curPic.iTop;
      minX = minX - _this.initGap > 0 ? _this.initGap : minX;
      //minY = minY - _this.initGap>0?_this.initGap:minY;
      var scaleX = curPic.picWidth / (curPic.picWidth - 2 * minX);
      //var scaleY = curPic.picHeight/(curPic.picHeight-2*minY);
      //console.log(scaleX+"::::"+scaleY);
      _this.iScale = scaleX;
      if (_this.tempScale != 0) {
        _this.iScale = scaleX < _this.tempScale ? scaleX : _this.tempScale;
      }
      //console.log(_this.tempScale+":::::"+_this.iScale);
      _this.tempScale = _this.iScale;
      _this.setPageWarpHeight(pageno);
    },
    splitNum: function (num, n) {
      var _this = this;
      var arr = [];
      var i = num.length / n
      for (var j = 0; j < i; j++) {
        arr.push(parseInt(num.slice(j * n, (j + 1) * n))); // 001030010200101001180100001415
      }
      // console.log(arr);
      return arr;
    },
    setPageWarpHeight: function (pageno) {
      var _this = this;
      var picWidth = _this.arrPicData[pageno - 1].picWidth;
      var picHeightClient = (_this.clientWidth / picWidth) * _this.arrPicData[pageno - 1].picHeight; //未放大时的图片显示高度
      var picWrapHeight = picHeightClient * _this.iScale; //放大时的图片显示高度
      jQuery("#page" + pageno).css({
        'height': picWrapHeight,
        "overflow": "hidden"
      });
    },
    foldPage: function () {
      var _this = this;
      _this.removeFlodPage();
      var openInAppStr = _this.realPageCount > 5 ?
          '<div class="open_in_app"><span class="ico_button btnc_light_blue openInApp">从APP打开该文档，阅读高清版</span></div>' : '';
      if (jQuery("#docContent").outerHeight() > 2600 && _this.curSectionIndex == 1 && _this.realPageCount > 5) {
        jQuery("#docContent").css({
          'height': 1688
        });
        var oFoldPageDiv = jQuery(
            '<div class="foldpagewg-root"><div class="foldpagewg-top"><div class="foldpagewg-text-con"><div id="firstClick" class="foldpagewg-text">点击展开全文</div><div class="foldpagewg-icon"></div></div></div><div class="foldpagewg-bottom">'
            +
            openInAppStr + '</div></div>').appendTo(jQuery("#docContent"));
      } else if ((_this.curSectionIndex != 1 && _this.curSectionIndex != _this.sectionNum) || (_this.curSectionIndex ==
          1 && _this.realPageCount > 5)) {
        var unReadPercent = parseInt((1 - (_this.curLoadPage / _this.realPageCount)) * 100);
        var oFoldPageDiv = jQuery(
            '<div class="foldpagewg-root foldpagewg-root2"><div class="foldpagewg-top"><div class="foldpagewg-text-con"><div class="foldpagewg-text">点击加载更多</div><div class="foldpagewg-icon"></div></div></div><div class="foldpagewg-bottom"><span class="spot-line"></span><sapn class="unread-percent">剩余'
            +
            unReadPercent + '%未读</span></div>' + openInAppStr + '</div>').appendTo(jQuery("#docContent"));
      }
      //console.log(_this.curSectionIndex+":::ffff"+_this.sectionNum);
      jQuery(".foldpagewg-root").on("click", ".foldpagewg-top", function () {
        _this.openFlodPage();
      });
    },
    removeFlodPage: function () {
      var _this = this;
      if (jQuery(".foldpagewg-root").length > 0) {
        jQuery(".foldpagewg-root").remove();
      }
    },
    openFlodPage: function () {
      var _this = this;
      if (_this.curSectionIndex == 1 && jQuery("#docContent").height() == 1688) {
        //alert("我是第一页展开");
        jQuery("#docContent").css({
          'height': 'auto'
        });
        if (jQuery(".foldpagewg-root").length == 1) {
          jQuery(".foldpagewg-root").remove();
        }
        if (_this.sectionNum > 1) {
          var unReadPercent = parseInt((1 - (_this.curLoadPage / _this.realPageCount)) * 100);
          var openInAppStr = rechargeConfig.pageCount > 5 ?
              '<div class="open_in_app"><span class="ico_button btnc_light_blue openInApp">从APP打开该文档，阅读高清版</span></div>' :
              '';
          var oFoldPageDiv = jQuery(
              '<div class="foldpagewg-root foldpagewg-root2"><div class="foldpagewg-top"><div class="foldpagewg-text-con"><div class="foldpagewg-text">点击加载更多</div><div class="foldpagewg-icon"></div></div></div><div class="foldpagewg-bottom"><span class="spot-line"></span><sapn class="unread-percent">剩余'
              +
              unReadPercent + '%未读</span></div>' + openInAppStr + '</div>').appendTo(jQuery("#docContent"));
          jQuery(".foldpagewg-root").on("click", ".foldpagewg-top", function () {
            _this.tabNextBtn();
          });
        }
      } else {
        _this.tabNextBtn();
      }
    },
  };
  var myPic = new CutPicView(viewConfig);
</script>
</body>
</html>
