<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,initial-scale=1.0,user-scalable=no">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>搜索结果列表</title>
  <link rel="stylesheet" type="text/css" th:href="@{/blog/h5PageCss/menu.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/blog/h5PageCss/base.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/blog/h5PageCss/index.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/blog/h5PageCss/list.css}"/>
  <style>
    .search-nav-li {
      width: 97%;
      display: -webkit-box;
    }
  </style>
</head>
<body>
<div id="page">
  <!-- 搜索结果列表头部 -->
  <div class="searchHeader">
    <div class="m-search-page">
      <div class="m-search-header marb5">
        <div class="search-box-new header-searchInput">
          <div class="search-box-inner">
            <span class="search-text"><span class="ico_btn_search"></span><span id="search-word" th:text="${searchKey}"></span></span><i
              class="cross" style="display: inline;"></i>
          </div>
        </div>
        <div class="header-searchBtn"><a id="search-cancel-back" href="javascript:void(0);">取消</a></div>
      </div>
    </div>
    <div class="nav-bar-scroll1">
      <div class="nav-bar-main1">
        <div class="nav-slider search-nav-container">
          <ul class="search-nav-li">
            <li class="cur" data-type="1"><a href="###">全部</a></li>
            <li class="" th:each="category:${@cms.selectNavCategories()}" th:if="${category.parentId==null||category.parentId==0}">
              <a href="###" th:text="${category.categoryName}" th:title="${category.categoryName}"></a>
            </li>
          </ul>
        </div>
        <span class="more_touch_btn"><span class="ico_more_btn"></span></span>
      </div>
    </div>
    <!--    <nav class="search-nav-container">-->
    <!--      <ul class="search-nav-li">-->
    <!--        <li class="cur" data-type="1"><a href="###">全部</a></li>-->
    <!--        &lt;!&ndash;            <li class="" data-type="1"><a href="###">机场运营</a></li>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li class="" data-type="1"><a href="###">机场运营</a></li>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li class="" data-type="1"><a href="###">机场运营</a></li>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li class="" data-type="1"><a href="###">机场运营</a></li>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li class="" data-type="1"><a href="###">其他</a></li>&ndash;&gt;-->
    <!--        &lt;!&ndash;        <li th:each="category:${@cms.selectNavCategories()}" th:if="${category.parentId==null||category.parentId==0}">&ndash;&gt;-->
    <!--        &lt;!&ndash;          <a th:href="@{${'/blog/category/' + category.categoryId}}" th:text="${category.categoryName}" th:title="${category.categoryName}"></a>&ndash;&gt;-->
    <!--        &lt;!&ndash;        </li>&ndash;&gt;-->
    <!--        <li id="openType" class="openType" data-type="5">-->
    <!--          <a href="javascript:void(0);"><span class="doc-type">格式</span><span class="type_down"></span>-->
    <!--          </a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--      <div class="type_down_list">-->
    <!--        <div class="type_down_list_inner">-->
    <!--          <div class="type_down_list_bd">-->
    <!--            <ul class="type_item">-->
    <!--              <li class="on"><a href="###" title="全部">全部</a></li>-->
    <!--              <li class=""><a href="###" title="PDF">PDF</a></li>-->
    <!--              <li class=""><a href="###" title="DOC">DOC</a></li>-->
    <!--              <li class=""><a href="###" title="PPT">PPT</a></li>-->
    <!--              <li class=""><a href="###" title="XLS">XLS</a></li>-->
    <!--              <li class=""><a href="###" title="TXT">TXT</a></li>-->
    <!--              <li class=""><a href="###" title="豆单">豆单</a></li>-->
    <!--            </ul>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <span class="hide_type_list">点击此处向上收起</span>-->
    <!--      </div>-->
    <!--    </nav>-->
  </div>
  <!-- 搜索结果列表 -->
  <div id="content">
    <div class="mainContent booklist">
      <!-- 内容 -->
      <div id="sections">
        <a th:href="@{${'/blog/h5page/detail/'+item.id}}" th:each="item,temp:${articleList}" target="_self">
          <dl class="clear">
            <dt>
              <div class="bookPic">
                <img th:alt="${item.title}" th:src="@{${item.coverImage}}">
                <span class="bookPage">5</span>
              </div>
            </dt>
            <dd class="bookTitle" th:text="${item.title}"></dd>
            <dd><span class="fch">
              <text th:text="${#strings.abbreviate(item.description,48)}"></text></span></dd>
            <dd>[[${item.hit}]]&nbsp次阅读</dd>
          </dl>
        </a>
      </div>
      <div id="loadPage" class="loadPage">
        <span class="loadMoreData">点击加载更多</span>
      </div>
    </div>
  </div>
  <!-- 返回顶部 -->
  <div onclick="goBackTop();" class="goBackTop"><span></span></div>
</div>
<script th:src="@{/blog/avatar/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/blog/h5PageJs/common.js}"></script>
<script>
  var currentIndex = 2; //当前页码
  var totalPage = 3; //共多少页
  hideURLbar(); //隐藏地址栏
  goBackTop(); //返回顶部
  loadImgs(); //加载图片
  loadMoreData(); //点击加载更多
  navFunc();//页签切换
  function loadMoreData() {
    var oLoadBtn = jQuery("#loadPage"),
        oLoadState = jQuery(".loadMoreData"),
        curDlNum = jQuery("#sections dl").length;

    oLoadBtn.show();
    if (jQuery("#sections a dl").length < 10) {
      oLoadBtn.hide();
    }

    if (oLoadBtn.length > 0) {
      oLoadBtn.show();
      oLoadBtn.bind("click", function () {
        oLoadState.html("正在加载..");
        jQuery.ajax({
          url: "data/ajax_index.txt",
          data: "page=" + currentIndex,
          context: jQuery("#sections"),
          success: function (data) {
            var dataHtml = data.trim();
            if (dataHtml == "" || dataHtml == null) {
              oLoadState.hide();
              return;
            }
            jQuery(this).append(dataHtml);
            if (currentIndex < totalPage) {
              loadImgs(); //加载图片
              oLoadState.html("点击加载更多");
              currentIndex++;
              if (currentIndex == totalPage) {
                oLoadState.hide();
              }
            } else {
              oLoadState.hide();
              return;
            }
          }
        });
      });
    }
  }

  function navFunc() {
    var oSearchHead = jQuery(".searchHeader"),
        iHeadHeight = oSearchHead.height();
    jQuery("body").css({"paddingTop": iHeadHeight});
    var oBackCancel = jQuery("#search-cancel-back");
    oBackCancel.bind("click", function () {
      history.back();
    });

    var openTypelist = jQuery("#openType");
    if (openTypelist.length > 0) {
      var iTypeListHeight = jQuery(".type_down_list").height() + 5;
      jQuery(".type_down_list").css('height', 0);
      jQuery(".type_down_list").show();
      //点击格式
      openTypelist.bind("click", function () {
        if (jQuery(this).hasClass("on")) {
          jQuery(".type_down_list").css('height', 0);
          jQuery(this).removeClass("on");
        } else {
          jQuery(".type_down_list").css('height', iTypeListHeight);
          jQuery(this).addClass("on");
        }
        return false;
      });
      //选择格式
      jQuery(".type_down_list .type_item li").bind("click", function () {
        var title = jQuery(this).find("a").attr("title");
        jQuery(".type_down_list .type_item li").removeClass("on");
        jQuery(this).addClass("on");
        if (title == "全部") {
          title = "格式";
        }
        openTypelist.find(".doc-type").text(title);
        jQuery(".type_down_list").css('height', 0);
        openTypelist.removeClass("on");

      });
      jQuery(".type_down_list .hide_type_list").bind("click", function (e) {
        if (jQuery('.type_down_list').length == 0) {
          return;
        }
        var _con = jQuery('.type_down_list_inner');   // 设置目标区域
        //console.log(!_con.is(e.target));
        //console.log(_con.has(e.target).length);
        if (!_con.is(e.target) && _con.has(e.target).length === 0) {
          //   jQuery(".type_down_list").hide();
          // jQuery(".type_down_list").slideUp("fast");
          jQuery(".type_down_list").css('height', 0);
        }
        openTypelist.removeClass("on");
        return false;
      });
      var aTabsLi = jQuery(".search-nav-li li");
      aTabsLi.bind("click", function () {
        var index = jQuery(this).index();
        // if (index !== 4) {
        jQuery(this).addClass("cur").siblings().removeClass("cur").removeClass("on");
        jQuery(".type_down_list").css('height', 0);
        // }

      });

    }
  }
</script>
</body>
</html>
