<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,initial-scale=1.0,user-scalable=no">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>搜索结果列表</title>
		<link rel="stylesheet" type="text/css" href="css/menu.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/list.css" />
	</head>
	<body>
		<div id="page">
			<!-- 搜索结果列表头部 -->
			<div class="searchHeader">
				<div class="m-search-page">
					<div class="m-search-header marb5">
						<div class="search-box-new header-searchInput">
							<div class="search-box-inner">
								<span class="search-text"><span class="ico_btn_search"></span><span id="search-word">英语考试</span></span><i
								 class="cross" style="display: inline;"></i>
							</div>
						</div>
						<div class="header-searchBtn"><a id="search-cancel-back" href="javascript:void(0);">取消</a></div>
					</div>
				</div>
				<nav class="search-nav-container">
					<ul class="search-nav-li">
						<li class="cur" data-type="1"><a href="###">全部</a></li>
						<li class="" data-type="2"><a href="###">优质</a></li>
						<li class="" data-type="3"><a href="###">最新</a></li>
						<li class="" data-type="4"><a data-plus="-1">专区<span class="plus-mark"></span></a></li>
						<li id="openType" class="openType" data-type="5">
							<a href="javascript:void(0);"><span class="doc-type">格式</span><span class="type_down"></span>
							</a>
						</li>
					</ul>
					<div class="type_down_list">
						<div class="type_down_list_inner">
							<div class="type_down_list_bd">
								<ul class="type_item">
									<li class="on"><a href="###" title="全部">全部</a></li>
									<li class=""><a href="###" title="PDF">PDF</a></li>
									<li class=""><a href="###" title="DOC">DOC</a></li>
									<li class=""><a href="###" title="PPT">PPT</a></li>
									<li class=""><a href="###" title="XLS">XLS</a></li>
									<li class=""><a href="###" title="TXT">TXT</a></li>
									<li class=""><a href="###" title="豆单">豆单</a></li>
								</ul>
							</div>
						</div>
						<span class="hide_type_list">点击此处向上收起</span>
					</div>
				</nav>
			</div>
			<!-- 搜索结果列表 -->
			<div id="content">
				<div class="mainContent booklist">
					<!-- 内容 -->
					<div id="sections">
						<a href="detail.html" target="_self">
							<dl class="clear">
								<dt>
									<div class="bookPic">
										<img alt="职业病防治法" docsrc="res/images/docin_41292067_110x140.jpg">
										<span class="bookPage">5</span>
									</div>
								</dt>
								<dd class="bookTitle">职业病防治法</dd>
								<dd><span class="fch">精品文档<br>
										上传人:360月光女孩</span></dd>
								<dd>16654次阅读 &nbsp;pdf</dd>
							</dl>
						</a>
						<a href="###">
							<dl class="clear">
								<dt>
									<div class="bookPic"><img alt="考研专区" width="70" docsrc="res/images/kygg1.png"></div>
								</dt>
								<dd class="bookTitle"><span class="icon_zt">专题</span>考研专业课资料</dd>
								<dd>包含302,915篇文档</dd>
								<dd>· 考研历年真题汇编</dd>
								<dd>· 考研内部复习题</dd>
							</dl>
						</a>
						<a href="###" target="_self">
							<dl class="clear">
								<dt>
									<div class="bookPic">
										<img alt="毕业设计致谢词500字[Word文档]" docsrc="res/images/docin_1975684453_110x140.jpg">
										<span class="bookPage">5</span>
									</div>
								</dt>
								<dd class="bookTitle">毕业设计致谢词500字[Word文档]</dd>
								<dd><span class="fch">精品文档<br>
										上传人:文档助理</span></dd>
								<dd>14302次阅读 &nbsp;doc</dd>
							</dl>
						</a>
						<a href="###" target="_self">
							<dl class="clear">
								<dt>
									<div class="bookPic">
										<img alt="五四青年节励志奋斗演讲稿.doc" docsrc="res/images/docin_2328552372_110x140.jpg">
										<span class="bookPage">12</span>
									</div>
								</dt>
								<dd class="bookTitle">五四青年节励志奋斗演讲稿.doc</dd>
								<dd><span class="fch">精品文档<br>
										上传人:三一文库</span></dd>
								<dd>13894次阅读 &nbsp;doc</dd>
							</dl>
						</a>
						<a href="###" target="_self">
							<dl class="clear">
								<dt>
									<div class="bookPic">
										<img alt="五一劳动节放假通知模板" docsrc="res/images/docin_2103693030_110x140.jpg">
										<span class="bookPage">6</span>
									</div>
								</dt>
								<dd class="bookTitle">五一劳动节放假通知模板</dd>
								<dd><span class="fch">精品文档<br>
										上传人:xinbb2377</span></dd>
								<dd>11545次阅读 &nbsp;doc</dd>
							</dl>
						</a>
						<a href="###" target="_self">
							<dl class="clear">
								<dt>
									<div class="bookPic">
										<img alt="淘宝五星好评50字评语" docsrc="res/images/docin_2087946227_110x140.jpg">
										<span class="bookPage">6</span>
									</div>
								</dt>
								<dd class="bookTitle">淘宝五星好评50字评语</dd>
								<dd><span class="fch">精品文档<br>
										上传人:293ea6b481</span></dd>
								<dd>30218次阅读 &nbsp;doc</dd>
							</dl>
						</a>
						<a href="###" target="_self">
							<dl class="clear">
								<dt>
									<div class="bookPic">
										<img alt="举例详解人像写真中的大禁忌" docsrc="res/images/docin_771379049_110x140.jpg">
										<span class="bookPage">10</span>
									</div>
								</dt>
								<dd class="bookTitle">举例详解人像写真中的大禁忌</dd>
								<dd><span class="fch">精品文档<br>
										上传人:政工办公文档</span></dd>
								<dd>16926次阅读 &nbsp;doc</dd>
							</dl>
						</a>
						<a href="###" target="_self">
							<dl class="clear">
								<dt>
									<div class="bookPic">
										<img alt="摄影学堂：夜景拍摄技巧" docsrc="res/images/docin_394939804_110x140.jpg">
										<span class="bookPage">6</span>
									</div>
								</dt>
								<dd class="bookTitle">摄影学堂：夜景拍摄技巧</dd>
								<dd><span class="fch">精品文档<br>
										上传人:Hitter</span></dd>
								<dd>11525次阅读 &nbsp;doc</dd>
							</dl>
						</a>
						<a href="###" target="_self">
							<dl class="clear">
								<dt>
									<div class="bookPic">
										<img alt="举例详解人像写真中的大禁忌" docsrc="res/images/docin_771379049_110x140.jpg">
										<span class="bookPage">10</span>
									</div>
								</dt>
								<dd class="bookTitle">举例详解人像写真中的大禁忌</dd>
								<dd><span class="fch">精品文档<br>
										上传人:政工办公文档</span></dd>
								<dd>16926次阅读 &nbsp;doc</dd>
							</dl>
						</a>
						<a href="###" target="_self">
							<dl class="clear">
								<dt>
									<div class="bookPic">
										<img alt="摄影学堂：夜景拍摄技巧" docsrc="res/images/docin_394939804_110x140.jpg">
										<span class="bookPage">6</span>
									</div>
								</dt>
								<dd class="bookTitle">摄影学堂：夜景拍摄技巧</dd>
								<dd><span class="fch">精品文档<br>
										上传人:Hitter</span></dd>
								<dd>11525次阅读 &nbsp;doc</dd>
							</dl>
						</a>
					</div>
					<div id="loadPage" class="loadPage">
						<span class="loadMoreData">点击加载更多</span>
					</div>
				</div>
			</div>
			<!-- 返回顶部 -->
			<div onclick="goBackTop();" class="goBackTop"><span></span></div>
		</div>
		<script src="js/jquery-1.9.0.min.js"></script>
		<script src="js/common.js"></script>
			<script>
				var currentIndex = 2; //当前页码 
				var totalPage = 3; //共多少页
				hideURLbar(); //隐藏地址栏
				goBackTop(); //返回顶部
				loadImgs(); //加载图片
				loadMoreData(); //点击加载更多
				navFunc();//页签切换
				function loadMoreData() {
					var oLoadBtn = jQuery("#loadPage"),
					oLoadState = jQuery(".loadMoreData"),
					curDlNum = jQuery("#sections dl").length;
				
					oLoadBtn.show();
					if(jQuery("#sections a dl").length<10){
						oLoadBtn.hide();
					}
				
					if (oLoadBtn.length > 0) {
						oLoadBtn.show();
						oLoadBtn.bind("click", function() {
							oLoadState.html("正在加载..");
							jQuery.ajax({
								url: "data/ajax_index.txt",
								data: "page=" + currentIndex,
								context: jQuery("#sections"),
								success: function(data) {
									var dataHtml = data.trim();
									if (dataHtml == "" || dataHtml == null) {
										oLoadState.hide();
										return;
									}
									jQuery(this).append(dataHtml);
									if (currentIndex < totalPage) {
										loadImgs(); //加载图片
										oLoadState.html("点击加载更多");
										currentIndex++;
										if (currentIndex == totalPage) {
											oLoadState.hide();
										}
									} else {
										oLoadState.hide();
										return;
									}
								}
							});
						});
					}
				}
			    function navFunc(){
					var oSearchHead = jQuery(".searchHeader"),
					iHeadHeight = oSearchHead.height();
					jQuery("body").css({"paddingTop":iHeadHeight});
						var oBackCancel = jQuery("#search-cancel-back");
						oBackCancel.bind("click",function(){
						history.back();
					});
			
					var openTypelist = jQuery("#openType");
					if(openTypelist.length>0){
						var iTypeListHeight = jQuery(".type_down_list").height()+5;
						jQuery(".type_down_list").css('height',0);
						jQuery(".type_down_list").show();
						//点击格式
						openTypelist.bind("click",function(){
							if(jQuery(this).hasClass("on")){
								jQuery(".type_down_list").css('height',0);
								jQuery(this).removeClass("on");
							}
							else{
								jQuery(".type_down_list").css('height',iTypeListHeight);
								jQuery(this).addClass("on");
							}
							return false;
						});
						//选择格式
						jQuery(".type_down_list .type_item li").bind("click",function(){
							var title = jQuery(this).find("a").attr("title");
							jQuery(".type_down_list .type_item li").removeClass("on");
							jQuery(this).addClass("on");
							if(title=="全部"){
								title = "格式";
							}
							openTypelist.find(".doc-type").text(title);
							jQuery(".type_down_list").css('height',0);
							openTypelist.removeClass("on");
							
						});
						jQuery(".type_down_list .hide_type_list").bind("click", function (e) {
							if (jQuery('.type_down_list').length == 0) return;
							var _con = jQuery('.type_down_list_inner');   // 设置目标区域
							//console.log(!_con.is(e.target));
							//console.log(_con.has(e.target).length);
							if (!_con.is(e.target) && _con.has(e.target).length === 0) {
								//   jQuery(".type_down_list").hide();
							   // jQuery(".type_down_list").slideUp("fast");
							   jQuery(".type_down_list").css('height',0);
							}
							openTypelist.removeClass("on");
							return false;
						});
						var aTabsLi = jQuery(".search-nav-li li");
						aTabsLi.bind("click",function(){
							var index = jQuery(this).index();
							if(index!==4){
								jQuery(this).addClass("cur").siblings().removeClass("cur").removeClass("on");
								  jQuery(".type_down_list").css('height',0);
							}
							
						});

					}
				}
	</script>
	</body>
</html>
