.blog-slider-con {
    padding: 1rem 2rem;
}
.blog-slider-desc {
    width: 40%;
    height: 46%;
    line-height: 1.2;
    font-size: 14px;
}
@media screen and (max-width:968px){
    .blog-slider-desc { display:none; }
}
article img{
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
ul.am-comment-list li{list-style-type: none;margin-bottom: 9px;}


/* 点赞+1 */
.my-add-num{
    display:block;
    position:relative;top:2px;left:-5px;
}
.my-add-num .add-animation{
    color: #000;
    position:absolute;
    top:-15px;
    left: 10px;
    font-size: 15px;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
    animation: mypraise 0.5s ;
    -moz-animation: mypraise 0.5s ;	/* Firefox */
    -webkit-animation: mypraise 0.5s ;	/* Safari  Chrome */
    -o-animation: mypraise 0.5s ;	/* Opera */
    font-style:normal;
}

@keyframes mypraise
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-moz-keyframes mypraise /* Firefox */
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-webkit-keyframes mypraise /* Safari 鍜� Chrome */
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-o-keyframes mypraise /* Opera */
{
    0% {
        top: -15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity: 0;
    }
    25% {
        top: -20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    50% {
        top: -25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity: 1;
    }
    75% {
        top: -30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    100% {
        top: -35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity: 0;
    }
}
*+h1, *+h2, *+h3, *+h4, *+h5, *+h6 {
    margin-top: 1em;
}
/* article-detail-new.html */
.blog-content{
    margin-top:20px;

    font: 15px 'Microsoft YaHei', Arial, Helvetica, sans-serif;color: #555;
}
.blog-content h1,.blog-content  h2,.blog-content  h3,.blog-content  h4,.blog-content  h5,.blog-content  h6 {
     margin: 0;
}
.blog-content .blog-sidebar-widget {
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}
.blog-content .am-article-hd h1{
    padding:20px 0px;
}
.blog-content article{
    padding:0px 18px 18px 18px;
}
/* userBlog.html */
body#userBlog header {
    height: 306px;
    width: 100%;
    background-image: url('/resources/myblog/images/blog/Rectangle.png');
    background-size: cover;
    background-repeat: no-repeat;
}

body#userBlog header .header-content {
    padding-top: 32px;
    height: 136px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
body#userBlog header .header-content .nosign {
    height: 100%;
}
body#userBlog header .header-content .header-left {
    float: left;
}
body#userBlog header .header-content .header-right {
    float: right;
}
body#userBlog .blog-content{
    margin-top: -169px;
    margin-left: auto;
    margin-right: auto;
}
body#userBlog header .header-content  .title {
    font-weight: 700;
    line-height: 32px;
    font-size: 32px;
    color: #fff;
    padding-bottom: 16px;
    max-width: 1000px;
}
 .header_icon  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #e4edf4;
}
 .header_icon h3{
     font-size: 14px;
     color: #4f4f4f;
     font-weight: 700;
     line-height: 60px;
     padding: 3px 0;
     /* margin: 12px 0px; */
     height: 60px;
     overflow: hidden;
     width: 181px;
}

 .header_icon h3 a{
    font-weight: 700;
    font-size: 14px;
    color: #2c3033;
}
.header_icon dl {
    display: inline-block;
    width:30%;

}
 .inf_number_box{
    text-align: center;
    /*border-bottom: 1px solid #e3e3e3;*/
    padding-bottom: 10px;
}
.inf_number_box dl{
    display: inline-block;
    width: 30%;
    text-align: center;
}
.inf_number_box dl dt{
    font-weight: 400;
    font-size: 14px;
    color: #788087;
    margin-bottom: 6px;
}
.inf_number_box dl dd{
    color: #4f4f4f;
    width: 100%;
    overflow: hidden;
    margin-left: 0px;
    font-weight: 700;
    font-size: 14px;
}

.userBlogInfo .row .title{
    padding-top: 8px;
    font-size: 12px;
    margin-left: 24px;
    color: #999;
    font-weight: 400;
    font-family: 'PingFang SC','Microsoft YaHei',SimHei,Arial,SimSun;
}
.userBlogInfo .row .num{
    padding-top: 8px;
    font-size: 14px;
    color: #4f4f4f;
    font-weight: 400;
    font-family: 'PingFang SC','Microsoft YaHei',SimHei,Arial,SimSun;
}

body#userBlog ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul .blog-unit{
    margin-left: 24px;
    margin-right: 24px;
    border-bottom: 1px dashed #e9e9e9;
    padding-top: 16px;
}

ul .blog-unit .blog-title {
    font-size: 20px;
    color: #4f4f4f;
}
.blog-unit .text {
    font-size: 14px;
    color: #999;
    word-break: break-all;
}
.bottom-dis-8 {
    margin-bottom: 8px;
}
.bottom-dis-16 {
    margin-bottom: 16px;
}
.clearfix:after{content:'.';height:0;visibility:hidden;display:block;clear:both}
.blog-unit .blog-title .top {
    margin-right: 8px;
    border: 1px solid #ddd;
    padding: 3px 8px;
    font-size: 12px;
    color: #999;
}
.blog-unit  a,.blog-unit  a:link,.blog-unit  a:visited {
    color: #4f4f4f;
}
.blog-unit .unit-control .unit-con-left .tag {
    font-size: 14px;
}
.blog-unit .unit-control .unit-con-left div {
    font-size: 14px;
    color: #999;
}
body#userBlog .blog-content .user-hotArticle,.user-hotArticle{
    padding: 20px 20px 5px;
    margin-bottom: 20px;
}
.blog-content .user-hotArticle h3,.user-hotArticle h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding-left: 6px;
    border-left: 3px solid #cf2730;
    margin-bottom: 20px;
    color: #333;
}
.user-hotArticle ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.user-hotArticle ul li {
    margin-bottom: 16px;
}
.user-hotArticle ul li a {
    display: block;
    font-size: 14px;
    color: #757a7e;
    line-height: 20px;
    table-layout: fixed;
    word-break: break-all;
    overflow: hidden;
    text-align: left;
}
.sort ul li a {
    width: 78%;
}
.user-hotArticle ul li a:hover {
    color: #ca0c16;
}
.user-hotArticle ul li div {
    font-size: 12px;
}
.user-hotArticle ul li div span {
    color: #bbb;
    vertical-align: top;
}
.user-hotArticle .unfold-btn {
    text-align: center;
    font-size: 12px;
    color: #349edf;
    cursor: pointer;
}
.user-hotArticle .unfold-btn span {
    vertical-align: middle;
    color: #349edf;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.6rem;
    font-weight: 600;
    font-size: 100%;
}

/*博客标签、时间、浏览数、评论数标签样式*/
.article_info span{/*margin: 0 10px 0 0;*/padding-left: 20px;font-size: 12px;}
.article_info span.icon_tag{background: url(/resources/myblog/images/icon_tag.png) no-repeat left center;}
.article_info span.dtime{background: url(/resources/myblog/images/icon_time.png) no-repeat left center;}
.article_info span.pingl{background: url(/resources/myblog/images/icon_chat.png) no-repeat left center;}
.article_info span.viewnum{background: url(/resources/myblog/images/icon_view.png) no-repeat left center;}

.article_info span.date{background: url(/resources/myblog/images/icon_date.png) no-repeat left center;}
.article_info span.author{background: url(/resources/myblog/images/icon_author.png) no-repeat left center;}
.article_info :after{clear:both;}

.article_desc{color: #888888;border: 1px solid #F3F3F3;padding: 10px;margin: 10px auto 15px;line-height: 23px;background: none repeat 0 0 #F6F6F6;}
.article_desc > strong{color: #38485A;font-weight: 400 !important;font-size: 13px;padding-right: 8px;}
/*阅读全文按钮*/
.readall_box {  position: relative;  z-index: 9999;  padding: 0 0 0px;  margin-top: -268px;  text-align: center;  }
.readall_box .read_more_mask {  height: 250px;  background: -moz-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));  background: -webkit-gradient(linear,0 top,0 bottom,from(rgba(255,255,255,0)),to(#fff));  background: -o-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));  }
/*关于我*/
.aboutme {  overflow: hidden;  background: #fff;  }
.hometitle {  padding: 0 10px;  line-height: 50px;  height: 50px;  font-size: 18px;  border-bottom: 1px solid #e5e5e5;  color: #484848;  position: relative;  }
.hometitle:hover:after {  width: 100%;  transition: 2s ease all;  }
.hometitle:after {  content: '';  position: absolute;  height: 2px;  width: 0;  right: inherit;  top: inherit;  left: 0;  bottom: -1px;  background: #333;  transition: 2s ease all;  }
.ab_box .avatar,.aboutme .avatar {  width: 100px;  height: 100px;  overflow: hidden;  border-radius: 50px;  margin: 10px auto 0;  }
.avatar img {  width: 100px;  border-radius: 50%;  border: 0;  display: block;  }
.ab_con {  line-height: 30px;  padding: 10px;  }
.ab_con p {  background: #f6f6f6;  margin: 5px 0;  padding-left: 10px;  border-radius: 5px;  text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px;  }
/*联系我*/
.contactUs h3 {line-height: 40px;color: #38485A;font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px;  }
.gzwm li { width: 52px; margin: 0 18px 0 5px; float: left;  }
.gzwm li a {color: #747F8C; width: 52px;text-align: center;padding-top: 60px;float: left;font: 12px/1.5 'Microsoft Yahei', 'Simsun';  }
.gzwm .xlwb:hover {color: #000;background: url(/resources/myblog/images/icon_xlwb_hover.png) no-repeat scroll 0% 0% transparent;  }
.gzwm .xlwb { background: url(/resources/myblog/images/icon_xlwb.jpg) no-repeat scroll 0% 0% transparent;  }
.gzwm .txwb:hover { color: #000;  background: url(/resources/myblog/images/icon_txwb_hover.png) no-repeat scroll 0% 0% transparent;  }
.gzwm .txwb {  background: url(/resources/myblog/images/icon_txwb.jpg) no-repeat scroll 0% 0% transparent;  }
.gzwm .email:hover {  color: #000;background: url(/resources/myblog/images/icon_mail_hover.png) no-repeat scroll 0% 0% transparent;  }
.gzwm .email { background: url(/resources/myblog/images/icon_mail.jpg) no-repeat scroll 0% 0% transparent;  }
.gzwm .wx:hover { color: #000; background: url(/resources/myblog/images/icon_wx_hover.png) no-repeat scroll 0% 0% transparent;  }
.gzwm .wx { background: url(/resources/myblog/images/icon_wx.jpg) no-repeat scroll 0% 0% transparent;cursor: pointer;  }
.wx_tip {padding: 8px 8px;  color: #fff; background: #f37b1d; line-height: 24px; text-align: center;font-size: 14px;}

/*文章排行*/
.moreSelect {  width: 100%;  margin: 30px 0 20px 0;  overflow: hidden;  }
.ms-top {  height: 32px;  border-bottom: solid 1px #EAEAEA;  font-size: 14px;  }
#tab li.cur a {  color: #fff;  background: #35b871;  }
#tab li a {  float: left;  height: 32px;  cursor: pointer;  line-height: 32px;  list-style-type: none;  padding: 0 15px;  }
.moreSelect  a:link,.moreSelect  a:visited {  text-decoration: none;  color: #666;  }
a {  outline: none;font-weight: normal;
    font-style: normal;  }
.bd-news ul {  padding: 10px 0 0 10px;  background: url(/resources/myblog/images/icon_rank.png) no-repeat 10px 29px;  }
.bd-news ul li {  border-bottom: solid 1px #EAEAEA;  line-height: 31px;  height: 41px;  overflow: hidden;  font-size: 14px;  padding: 10px 0 0 30px;  }
.bd-news ul li a {  display: block;  }
.bd-news ul li:hover {  border-bottom: #000 1px solid;  }
ol, ul {  padding-left: 0em;  }
ul {list-style: none;  }
/*搜索框*/
.sidebar .search,.blog-sidebar .search {background: #FFF;  overflow: hidden;  padding: 20px;  }
.sidebar .search .input_text,.blog-sidebar .search .input_text {  padding-left: 5px;  border: 1px solid #ccc;  width: 70%;  height: 28px;  line-height: 28px;  background-color: #f2f2f2;  float: left;  }
.sidebar .search .input_submit,.blog-sidebar .search .input_submit {  background-color: #333;  color: #FFF;  float: left;  width: 20%;  border: none;  cursor: pointer;  height: 28px;  line-height: 28px;  }
/*标签云*/
.cloud {width: 100%;clear: both;overflow: hidden; }
.cloud h3 { line-height: 40px;color: #484848; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; }
.cloud ul {margin: 20px 0;}
.cloud ul a:first-child { background: #036564; }
.cloud ul a:nth-child(8n-7) { background: #8A9B0F;}
.cloud ul a {line-height: 24px;   height: 30px; display: block;background: #999;float: left; padding: 3px 11px;
    margin: 10px 10px 0 0; border-radius: 8px;   -moz-transition: all 0.5s; -webkit-transition: all 0.5s;  -o-transition: all 0.5s;
    /* transition: all 0.5s; */ color: #FFF;  }
.cloud a:link,.cloud  a:visited { text-decoration: none;  color: #666;  }

.cloud h3{position: relative;}
.cloud ul a:hover {  border-radius: 0; /* text-shadow: #000 1px 1px 1px;*/color: #fff !important; }
.cloud ul a.active {
    border-radius: 0;
    text-shadow: #000 1px 1px 1px;
    color: #fff !important;
}
.cloud ul a:nth-child(8n-6) { background: #EB6841; }
.cloud ul a:nth-child(8n-5) {  background: #3FB8AF;  }
.cloud ul a:nth-child(8n-4) {  background: #FE4365;  }
.cloud ul a:nth-child(8n-3) {  background: #FC9D9A;  }
.cloud ul a:nth-child(8n-2) {  background: #EDC951;  }
.cloud ul a:nth-child(8n-1) {  background: #C8C8A9;  }

.contactUs h3:after,.cloud h3:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    right: inherit;
    top: inherit;
    left: 0;
    bottom: -1px;
    background: #333;
    transition: 2s ease all;
}
.contactUs h3:hover:after,.cloud h3:hover:after {
    width: 100%;
    transition: 2s ease all;
}
.blog-sidebar-widget{padding:0 10px;}
.blog-sidebar-widget-title{position: relative;  text-align: left;  line-height: 40px;color: #484848; font-size: 16px; border-bottom: 1px solid #E6E6E6; height: 40px; }
.blog-sidebar-widget-title b{display: inline-block;
    border-bottom: 2px solid #484848;}
.blog-sidebar-widget-title:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    right: inherit;
    top: inherit;
    left: 0;
    bottom: -1px;
    background: #333;
    transition: 2s ease all;
}
.blog-sidebar-widget-content{}
.blog-sidebar-widget-content p.description,article p.description{
    text-indent: 2rem !important;
    font-size: 12px !important;line-height: 1.9 !important;
}
.blog-sidebar-widget-content.blog-side-bar .item{padding: 0 0 5px;
    margin-bottom: 15px;
    border-bottom: solid 1px #eee;}
.blog-sidebar-widget-content .item a{    background: #fff;}
.blog-sidebar-widget-content .item h3 {
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
    text-align: left;
}
.blog-sidebar-widget-content .item .desc {
    color: #999;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    text-align: justify;
}
.mb15 {
    margin-bottom: 15px;
}

/*首页文章列表*/
.itemGrid{
    overflow: hidden;
    position: relative;
    border: medium none;
}
.itemGrid ul {
    margin-left: -1px;
    margin-top: -1px;
}
.itemGrid li {
    float: left;
    width: 33.3333%;
    padding: 20px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}
.itemGrid li .article_box {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    overflow: hidden;
}
.itemGrid li .tophead {
    height: 140px;
    position: relative;
    overflow: hidden;
    background: #f2f2f2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.itemGrid li .tophead img {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
    overflow: hidden;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.itemGrid li article.h135 {
    height: 135px;
}
.itemGrid li article {
    background: #fff;
    padding: 10px 0;
    height: 200px;
    color: #777;
    font-size: 12px;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}
.itemGrid li article h3 {
    color: #333;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.iconStatus.sm {
    padding: 2px 10px;
}
.iconStatus {
    background: #04ac71;
    font-weight: normal;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 4px 10px;
    font-size: 12px;
    overflow: hidden;
}
.itemGrid li .tophead .iconFlag {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 3px #333;
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 10;
    font-style: normal;
    font-weight: normal;
}
.iconStatus.orange {
    background: #fd7d1d;
}
.mr5 {
    margin-right: 5px;
}
.itemGrid li article p.cf999 {
    color: #999;
}
.itemGrid li article p.h40 {
    height: 40px;
}
.itemGrid li article p {
    font-size: 12px;
    line-height: 20px;
    color: #999;
    overflow: hidden;
}
.cf_green {
    color: #04ac71;
}
.f12, .iconfont.f12 {
    font-size: 12px;
}
.itemGrid li:hover {
    position: relative;
    z-index: 10;
    box-shadow: 0 0 20px #ddd;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.article_box img:hover {
    transform: scale(1.1);
}
/*首页-最新*/
.ulGrid {
    overflow: hidden;
    text-align: left;
}
.ulGrid li {
    padding: 0 10px 5px;
    line-height: 30px;
    font-size: 12px;
    color: #666;
    overflow: hidden;
}
.ulGrid.point li a {
    padding-left: 25px;
}

.ulGrid li a {
    position: relative;
    font-size: 12px;
    display: block;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #f6f6f6;
    padding: 4px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ulGrid.point li a i {
    display: block;
    width: 4px;
    height: 4px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -2px;
    overflow: hidden;
    background-color: #283042;
}
.ulGrid li a:hover {
    background: #f2f2f2;
    box-shadow: 0 0 10px #ccc;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    color:#666;
}
.adGrid {
    display: block;
    margin: 5px 10px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* min-height: 80px; */
    overflow: hidden;
}
.adGrid a {
    display: block;
}
.adGrid a>img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 0;
}
/*特别推荐*/

/*导航主题*/
nav.theme_black{
    /*position: fixed;*/
    z-index: 9999;
    top:0px;
    background-color: #333 !important;
}

.theme_black .am-topbar-nav>li.am-active>a,.theme_black  .am-topbar-nav>li.am-active>a:focus,.theme_black  .am-topbar-nav>li.am-active>a:hover {
    color: #f65a8a !important;
}
.theme_black li a:hover {
    background-color: inherit !important;
    color: #f65a8a !important;
}
.theme_black #nav_menu>li a:link,.theme_black #nav_menu>li   a:visited {
    text-decoration: none;
    color: #fff;
}
.theme_black body{margin-top: 50px;}




/*评论系统*/

/*打赏*/
 .cy-reward-btn {width: 134px;  height: 49px;  display: inline-block;  background-image: url(/resources/myblog/images/icon/icon_dashang.png);  background-repeat: no-repeat;  background-position: 0 -196px;  background-color: none;  border: 0;  cursor: pointer;  }
 .cy-reward-btn-red {
    background-position: 0px 0px;
}
 .cy-reward-btn-red:hover {
    background-position: -134px 0;
}
 .cy-reward-btn-orange {
    background-position: 0px -49px;
}
 .cy-reward-btn-orange:hover {
    background-position: -134px -49px;
}
 .cy-reward-btn-green {
    background-position: 0px -98px;
}
 .cy-reward-btn-green:hover {
    background-position: -134px -98px;
}
 .cy-reward-btn-blue {
    background-position: 0px -147px;
}
 .cy-reward-btn-blue:hover {
    background-position: -134px -147px;
}
/*导航栏nav的搜索按钮*/
nav .searchbtn {
    position: relative;
    width: 16px;
    height: 28px;
    right: 28px;
    outline: 0;
    border: none;
    background: url(/resources/images/searchbtn.png) no-repeat 0 6px;
}
nav .searchWrap.show {
    width: 250px;
}
/*fullPitch置顶*/
.fullPitch {
    padding: 50px;
    text-align: center;
    background: #252525;
    font-size: 12px;
    color: #fff;
}
.fullPitch span {
    font-size: 12px;
    color: #bbb;
}
.fullPitch h2, .fullPitch h2>a {
    font-size: 32px;
    line-height: 42px;
}
.fullPitch h2, .fullPitch h2>a {
    font-size: 32px;
    line-height: 42px;
}

.fullPitch a {
    color: #fff;
}
.fullPitch .otherInfo {
    line-height: 20px;
    font-size: 12px;
    color: #666;
}
.fullPitch .otherInfo span {
    margin-right: 10px;
}
.fullPitch span {
    font-size: 12px;
    color: #bbb;
}
/*fullTabs 热门标签*/
.fullTabs {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    /* background: rgba(255,255,255,0.6); */
    background-color: #fff;
    padding: 0 20px;
}
.fullTabs .menuBox {
    text-align: center;
    min-width: 600px;
    margin: 0 auto;
    padding-top: 10px;
    line-height: 30px;
}
.fullTabs .menuBox span {
    font-size: 14px;
    color: #999;
    padding: 0 10px;
    position: relative;
}
.fullTabs .menuBox span a {
    font-size: 13px;
    letter-spacing: 2px;
    color: #666;
    padding: 0 15px 0 5px;
    cursor: pointer;
}
.fullTabs .menuBox span a:hover,.fullTabs .menuBox span a.hover {
    font-size: 13px;
    letter-spacing: 2px;
    color: #008000;
    padding: 0 15px 0 5px;
    cursor: pointer;
    font-weight: 600;
}
.fullTabs .menuBox span a:after {
    content: "/";
    color: #ccc;
    position: absolute;
    right: 0;
    line-height: 30px;
}
.fullTabs.index {
    position: fixed;
    top: 0px;
    z-index: 100;
}


/*semantic style*/
#mainScreen .left-channel{
    padding-left: .8rem!important;
    padding-right: .8rem!important;
}
#mainScreen.ui.segment{margin:0 !important;}
#mainScreen>.ui.container, #mainScreen>.ui.container>.ui.grid {
    min-height: 898px;
    padding: 0 15px;
}
#mainScreen>.ui.container.bg-white{
    background: #fff;
}
#mainScreen>.ui.container .item a.header{
    /*font-weight: normal;*/
    font-size: 1.1rem !important;
}
#mainScreen>.ui.container .item .content .description p{
    font-size: 12px;
    color: #666;
    line-height: 1.9;
    text-indent: 2rem;
}
#mainScreen .web-blog {
    padding-top: 10px!important;
}
#mainScreen .left-channel a.active{color:#2185d0;font-weight: 600;}
#mainScreen .left-channel a.item:hover{color:#2185d0;font-weight: 600;}

#personalCategoryList.ui.divided.items>.item{border-top: 1px dashed rgba(34,36,38,.15) !important;}
#personalCategoryList.ui.divided.items>.item:first-child {
    border-top: none !important;;
    margin-top: 0!important;
    padding-top: 0!important;
}
#personalCategoryList .item.header{
    padding-top: 0;
    padding-bottom: 4px;
    line-height: 30px;
    color: #999999;
    border-bottom: 1px solid #E9E9E9;
}
#personalCategoryList .item  span.sort{width: 10%; text-align: left;display: inline-block;}
#personalCategoryList .item  .name{width:38%;display: inline-block;}
#personalCategoryList .item.header  .operate{padding-right: 20px;}
#personalCategoryList .item  .operate{width:25%;display: inline-block;text-align: right;}
#personalCategoryList .item  .operate a.edit{color:#1780bf;}
#personalCategoryList .item  .operate a.delete{color:#B50C13;}
#personalCategoryList .item  .available{width:25%;display: inline-block;text-align: right;}

/*博客首页*/
body#myblog-index{
    background: #e9ecf3 !important;
}
@media only screen and (min-width: 1200px){
    .ui.grid.container {
        width: 1580px!important;
    }
}
.blog-sidebar-widget .blog-sidebar-widget-content ul li a{color:#333;}

.fullPitch.theme-MidAutumn,.fullPitch.theme-GuoQing{
    background: url(/resources/myblog/index/index-head-bg-2.jpg) repeat-x;
    position: relative;
}
.fullPitch.theme-MidAutumn:before,.fullPitch.theme-MidAutumn:after,.fullPitch.theme-GuoQing:after,.fullPitch.theme-GuoQing:before {content:""; display:block; position:absolute; top:0;}
.fullPitch.theme-MidAutumn:before {
    width: 114px;
    height: 84px;
    background: url(/resources/myblog/index/index-head-bg-cover-1.png) no-repeat;
    left: 20px;
}
.fullPitch.theme-MidAutumn:after {
    width: 168px;
    height: 131px;
    background: url(/resources/myblog/index/index-head-bg-cover-2.png) no-repeat;
    right: 0;
}
.fullPitch.theme-GuoQing:before {
    width: 162px;
    height: 162px;
    background: url(/resources/myblog/index/guoqing1.png) no-repeat;
    background-size: 100%;
    left:-1px;
}
.fullPitch.theme-GuoQing:after {
    width: 176px;
    height: 162px;
    background: url(/resources/myblog/index/guoqing2.png) no-repeat;
    right: -24px;
    background-size: 100%;
}
/*博客设置*/
.blog-settings .tip{
    line-height: normal;
    margin-left: 8px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,.5);
}
.ui.button{font-weight: 400;}

article.am-article {
    padding: 0px 18px 18px 18px;
    background-color: #fff;
}
article .am-article-hd h1 {
    padding: 20px 0px;
}
article .am-article-title {
    font-size: 1.8rem;
    line-height: 1.15;
    font-weight: 400;
    margin-bottom: 0px;
}
article .am-article-meta {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #999;
}
article .am-article-bd p{text-indent: 2rem;}
.am-fl {
    float: left;
}
.am-fr {
    float: right;
}


/*评论*/
.comment_tool_btn{ width:auto;position:relative;    padding: 5px 5px !important;display:inline-block;
    *display:inline;
    *zoom:1;}
.comment .comment_tool_btn{ width:auto;position:relative;display:inline-block;    padding: 0 !important;
    *display:inline;
    *zoom:1;}
a.comment_tool_btn:after{clrear:both;}
.icon_comment{    display: inline-block;
    width: 16px;
    height: 15px;
    overflow: hidden;    float: left;cursor:pointer;    margin-right: 4px;
    vertical-align: -4px;}
.icon_ding{
    background-image: url(/resources/myblog/images/icon/icon_ding_0.png);
    background-position: 0 0;
}
.comment_tool_btn:hover i.icon_ding {background-image: url(/resources/myblog/images/icon/icon_ding_1.png);
    background-position: 0 0;}
.icon_cai{
    background-image: url(/resources/myblog/images/icon/icon_cai_0.png);
    background-position: 0 0;
}
.comment_tool_btn:hover i.icon_cai {background-image: url(/resources/myblog/images/icon/icon_cai_1.png);
    background-position: 0 0;}

.up_down_num{float:right;}
.comment_tool_btn_flag{display: none !important;cursor: pointer;}
.am-comment-main:hover .comment_tool_btn_flag{display: inline-block !important;}
.icon_flag{
    background-image: url(/resources/myblog/images/icon/icon_flag_0.png);
    background-position: 0 0;
}
.comment_tool_btn:hover i.icon_flag {background-image: url(/resources/myblog/images/icon/icon_flag_1.png);
    background-position: 0 0;}
.icon_yinzhang{
    width:20px;
    height:20px;
    background-image: url(/resources/myblog/images/icon/icon_yinzhang.png);
    background-position: 0 0;
}
.user-address-gw{
    color: #dbdbdb;
}

.comment:hover .comment_tool_btn_flag {
    display: inline-block !important;
}
.comment .metadata{float:right;}
.comment .metadata.floor{margin-left:35px;color:#666;}



/*#yunTags  a:nth-child(14n-13) { color: #DB2828!important; }
#yunTags  a:nth-child(14n-12) { color: #F2711C!important; }
#yunTags  a:nth-child(14n-11) {  color: #FBBD08!important;  }
#yunTags  a:nth-child(14n-10) {  color: #B5CC18!important;  }
#yunTags  a:nth-child(14n-9) {  color: #21BA45!important;  }
#yunTags  a:nth-child(14n-8) {  color: #00B5AD!important;  }
#yunTags  a:nth-child(14n-7) {  color: #2185D0!important;  }
#yunTags  a:nth-child(14n-6) {  color: #6435C9!important;  }
#yunTags  a:nth-child(14n-5) {  color: #A333C8!important;  }
#yunTags  a:nth-child(14n-4) {  color: #E03997!important;  }
#yunTags  a:nth-child(14n-3) {  color: #A5673F!important;  }
#yunTags  a:nth-child(14n-2) {  color: #767676!important;  }
#yunTags  a:nth-child(14n-1) {  color: #1B1C1D!important;  }
#yunTags  a.active{color:#fff;}*/

.ui.basic.label{    background-color: #fff!important;}
/*返回顶部start*/
.fankui {
    display: block;
    width: 45px;

    color: #fff;
    font-size: 12px;
    padding: 10px 5px;
    line-height: 15px;
    text-align: center;
    background-color: #f65a8a;/*#01b601*/
    border-bottom: 1px solid #ffffff;
}
.fankui img {
    display: block;
    width: 56%;
    margin: 0 auto;
    margin-bottom: 7px;
}
.back-top {
    display: inline-block;
    width: 45px;
    width: 45px;
    background-color: #f65a8a;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    display: none;
}
.back-top i {
    display: inline-block;
    width: 22px;
    height: 26px;
    background: url(/resources/myblog/images/icon-public.png) -78px 0;
    margin-top: 7px;
}
.back-top:hover i{
    display: none;
}
.back-top:hover{
    background-color: #f65a8a;
}
.contact-kf {
    display: block;
    width: 45px;

    background-color: #f65a8a;
    color: #fff;
    font-size: 12px;
    padding: 10px 5px;
    text-align: center;
    line-height: 15px;
    border-bottom: 1px solid #ffffff;
}
#fixed {
    position: fixed;
    bottom: 21%;
    right: 0;
    z-index: 9999;
    top: 62.4%;
    width: 45px;
    height: 262px;
}
.to-top {
    background: url(/resources/images/back-top.png) no-repeat left top;
    width: 55px;
    height: 55px;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    z-index: 100;
}
.to-top:hover {
    background: url(/resources/images/back-top.png) no-repeat left bottom;
}
.back-top span{
    display: none;
}
.back-top:hover span{
    display: block;
    transition: all 0.2s;
}
#fixed a:hover{color:#fff;}
/*返回顶部end*/

#mainScreen article img{display: block;margin:0 auto;}


#nav .ui.menu .item.active{color:#35b871 !important}
@media only screen and (max-width: 767px){
    #nav {
        display: none;
    }
    #mobileHeaderNavMenu{
        display:flex !important;
    }
}
#mobileHeaderNavMenu {
    margin: 0;
    padding: 0 8px;
    background: #4b505d;
    z-index: 1001;
    height: 45px;
    width: 100%;
}
#mobileHeaderNavMenu .item {
    padding: 0;
}
#mobileHeaderNavMenu .logo {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#mobileHeaderNavMenu .logo img {
    width: 108px;
}

/*分页条*/
#pageGroup{}
#pageGroup{margin:30px auto;font-size:14px;text-align:center;}
#pageGroup a{ background:rgba(34,36,38,.1); display:inline-block; color:#999; width:40px; height:40px; line-height:40px; text-align:center; -moz-border-radius:4px; border-radius:4px; margin:0 4px;}
#pageGroup .nopage{}
#pageGroup a:hover, #pageGroup .curpage{ background:#04ac71; color:#fff; vertical-align:top; -moz-transition: all .1s ease; -webkit-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease;}
#pageGroup .pageinfo, #pageGroup a.homepage, #pageGroup a.endpage{ display:inline-block;}
#pageGroup .pageinfo{display: none;}

.effect-bubble-fly {
    display: inline-block;
    min-width: 150px;
    position: absolute;
    z-index: 9999;
    color: #5cb85c;
    font-size: 14px;
    font-weight: bold;
    transition: left 0.5s, top 2s cubic-bezier(0.170, 0.090, 0.000, 1.110), opacity 1.8s cubic-bezier(0.170, 0.090, 0.000, 1.110), -webkit-transform 0.5s linear;
    -moz-transition: left 0.5s, top 2s cubic-bezier(0.170, 0.090, 0.000, 1.110), opacity 1.8s cubic-bezier(0.170, 0.090, 0.000, 1.110), -webkit-transform 0.5s linear; /* Firefox 4 */
    -webkit-transition: left 0.5s, top 2s cubic-bezier(0.170, 0.090, 0.000, 1.110), opacity 1.8s cubic-bezier(0.170, 0.090, 0.000, 1.110), -webkit-transform 0.5s linear; /* Safari 和 Chrome */
    -o-transition: left 0.5s, top 2s cubic-bezier(0.170, 0.090, 0.000, 1.110), opacity 1.8s cubic-bezier(0.170, 0.090, 0.000, 1.110), -webkit-transform 0.5s linear; /* Opera */
}
