.match-plan-search {
	background-color: #f2f3f3;
}

.match-main-wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.match-main {
	width: 166.4%;
	overflow: hidden;
}

.match-main li {
	float: left;
	box-sizing: border-box;
	width: 25%;
	padding: 10px 12px 0;
}

.match-search-t {
	border: 1px solid #d7d7d7;
}

.match-search-t a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%
}

.match-search-t a:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(https://st.douding.cn/images_cn/iphone/match_plan/loadImg_logo.gif) no-repeat 0 50%;
	background-size: 100% auto;
}

.match-search-t img {
	width: 100%;
	height: auto;
}

.match-search-t .loadimg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.match-search-b {
	height: 32px;
	line-height: 32px;
	font-size: 1em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.match-search-b a {
	color: #333;
	font-weight: 700;
}

.match-search-b .ico_you {
	margin-right: 5px;
}

.match-point {
	height: 24px;
	line-height: 24px;
	text-align: center;
}

.match-point li {
	display: inline-block;
	width: 4px;
	height: 4px;
	vertical-align: 2px;
	background-color: #4d4d4d;
	border-radius: 4px;
}

.match-point li.cur {
	width: 8px;
	background-color: #2692ff;
}

.match-point .match-logo {
	width: 20px;
	height: 8px;
	margin-left: 8px;
	vertical-align: 0;
	background: url(https://st.douding.cn/images_cn/iphone/match_plan/match-logo.png) no-repeat 0 50% transparent;
	background-size: auto 100%;
}

.searchHeader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 99;
}

.hide_type_list {
	display: block;
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
	color: #999;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

.type_down_list {
	-webkit-transition: height .2s ease;
	display: none;
	overflow: hidden;
}

.booklist dd.bookTitle {
	margin-bottom: 4px;
}

.ico_mark_free {
	height: 15px;
	line-height: 16px;
	overflow: hidden;
	border: 1px solid #cfa064;
	color: #cfa064;
	display: inline-block;
	font-style: normal;
	padding: 0 4px;
	border-radius: 4px;
	margin-top: 4px;
}

#plusVipTips .docin-ui-wrapper {
	width: 80%;
}

#plusVipTips .ui-btns-confirm {
	margin: 0;
	background-color: #4c96df;
	height: 36px;
	line-height: 36px;
}

.ico_plus_tips {
	display: inline-block;
	width: 56px;
	height: 56px;
	background: url(https://st.douding.cn/images_cn/iphone/plus/ico_plus_3x.png) 0 0 no-repeat;
	background-size: 56px 56px;
}

.plus_mark span.btn_dd {
	background-position: -91px 0;
	background-color: #e3e3e3;
	color: #cecece;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
